# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv

# Database & Local Uploads
agridirect.db
*.sqlite3
*.db

# Environment variables
.env

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
